body {
  font-family: Helvetica;
  text-align: center;
}

li{
	list-style-type: none;
}

#listing{
	text-align: left;
	padding-left: 35%;
}

h1
{
  font-size: 48px;
  text-shadow: -1px -1px #9df, 1px 1px #49d, -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color:#6bf;
  padding:24px 32px 32px 32px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display:inline;
  line-height:150px;
  border-radius: 5px;
}

.avatar {
	border-radius: 50%;
}

.tourne{
	animation: infinite-spinning 4s ease infinite;
	/*animation: bounce 1s infinite;*/
}

@keyframes infinite-spinning{
	
	to {
		transform: rotate(360deg);
	}
}

/*@keyframes bounce{
	from {transform:translate3D(0,0,0);}
	50% {transform:translate3D(0,-10px,0);}
	to {transform:translate3D(0,5px,0);}
}*/