body {
  font-family: Helvetica;
  text-align: center;
}

li{
	list-style-type: none;
}

#listing{
	text-align: left;
}

h1
{
  font-size: 48px;
  text-shadow: -1px -1px #9df, 1px 1px #49d, -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color:#6bf;
  padding:24px 32px 32px 32px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display:inline;
  line-height:150px;
  border-radius: 5px;
}

.avatar {
	border-radius: 50%;
}

.tourne{
	animation: infinite-spinning 4s linear infinite;
	/*animation: bounce 1s infinite;*/
}

@keyframes infinite-spinning{
	
	to {
		transform: rotate(360deg);
	}
}

/*@keyframes bounce{
	from {transform:translate3D(0,0,0);}
	50% {transform:translate3D(0,-10px,0);}
	to {transform:translate3D(0,5px,0);}
}*/

.recherche {
  margin-top: 50%;
}

#lecteur {
  margin-top: 50%;
}

.colonne_decalee {
  padding: 20px;
}

$max: 100px;

.equilizer {
 height: $max;
 width: $max;
}

.bar {
 fill: DeepPink;
 width: 18px;
 animation: equalize 1.25s steps(25, end) 0s infinite;
}

.bar:nth-child(1) { 
 animation-duration: 1.9s;
}

.bar:nth-child(2) { 
 animation-duration: 2s;
}

.bar:nth-child(3) { 
 animation-duration: 2.3s;
}

.bar:nth-child(4) { 
 animation-duration: 2.4s;
}

.bar:nth-child(5) { 
 animation-duration: 2.1s;
}

@keyframes equalize {
 0% {
   height: 60px;
 }
 4% {
   height: 50px;
 }
 8% {
   height: 40px;
 }
 12% {
   height: 30px;
 }
 16% {
   height: 20px;
 }
 20% {
   height: 30px;
 }
 24% {
   height: 40px;
 }
 28% {
   height: 10px;
 }
 32% {
   height: 40px;
 }
 36% {
   height: 60px;
 }
 40% {
   height: 20px;
 }
 44% {
   height: 40px;
 }
 48% {
   height: 70px;
 }
 52% {
   height: 30px;
 }
 56% {
   height: 10px;
 }
 60% {
   height: 30px;
 }
 64% {
   height: 50px;
 }
 68% {
   height: 60px;
 }
 72% {
   height: 70px;
 }
 76% {
   height: 80px;
 }
 80% {
   height: 70px;
 }
 84% {
   height: 60px;
 }
 88% {
   height: 50px;
 }
 92% {
   height: 60px;
 }
 96% {
   height: 70px;
 }
 100% {
   height: 80px;
 }
}

.non {
  display: none;
}

.row {
  display: flex;
}

#biere {
  background-image: url('../img/biere.jpg');
  height: 100vh;
}

#rose {
  background-image: url('../img/rose.jpg');
  height: 100vh;
}

#mojito {
  background-image: url('../img/mojito.jpeg');
  height: 100vh;
}